In [1]:
# import Dependencies
import pandas as pd
import numpy as np
import re

In [2]:
# creating the path
csv_path = "C:/Users/olaka/OneDrive/Documents/GitHub/project 3/bestbuy_data.csv"
Bestbuy_Webscraping= pd.read_csv(csv_path)
Bestbuy_Webscraping.head()

,description,reviews,Price,Discount
0,Amazon Echo Show 10 with Alexa - Charcoal,(1167 Reviews),$249.99,SAVE $80
1,Amazon Echo (4th Gen) Smart Home Hub with Alex...,(441 Reviews),$94.99,SAVE $20
2,"Samsung 55"" 4K UHD HDR LED Tizen Smart TV (UN5...",(40 Reviews),$599.99,Plus $15.50 EHF
3,"Samsung 43"" 4K UHD HDR LED Tizen Smart TV (UN4...",(1015 Reviews),$399.99,Plus $12.20 EHF
4,"Samsung The Frame 65"" 4K UHD HDR QLED Tizen Sm...",(418 Reviews),$2299.99,SAVE $400

In [3]:
# Create a new DataFrame
new_dfWebscraping = Bestbuy_Webscraping.copy()


#cleaning the reviwe column

new_dfWebscraping['reviews'] = new_dfWebscraping['reviews'].replace('Bring the cinematic experience home with Sony.', np.nan)
# new_dfWebscraping['reviews'] = pd.to_numeric(new_dfWebscraping['reviews'], errors='coerce').astype(int)
# new_dfWebscraping['reviews'] = pd.to_numeric(new_dfWebscraping['reviews'], errors='coerce').fillna(0).astype(int)
new_dfWebscraping['reviews'] = new_dfWebscraping['reviews'].str.extract(r'(\d+)').astype(float).fillna(0).astype(int)
#cleaning the price column
new_dfWebscraping['Price'] = new_dfWebscraping['Price'].replace('Gift with purchase', np.nan)
new_dfWebscraping['Price'] = new_dfWebscraping['Price'].replace('Learn more', np.nan)


# cleaning the Discount column
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].str.replace('SAVE ', '')
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].replace('Available to ship', np.nan)
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].replace('Sold out online', np.nan)
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].replace('Available online only', np.nan)
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].replace('Available for backorder', np.nan)
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].replace('Not sold online', np.nan)
new_dfWebscraping['Discount'].fillna('0', inplace=True)


# Remove 'Plus $XX.XX EHF' from the Discount column
new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].str.replace(r'Plus \$(\d+\.\d+) EHF', r'\1')

C:\Users\olaka\AppData\Local\Temp\ipykernel_25216\1201442150.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  new_dfWebscraping['Discount'] = new_dfWebscraping['Discount'].str.replace(r'Plus \$(\d+\.\d+) EHF', r'\1')

In [4]:
new_dfWebscraping

,description,reviews,Price,Discount
0,Amazon Echo Show 10 with Alexa - Charcoal,1167,$249.99,$80
1,Amazon Echo (4th Gen) Smart Home Hub with Alex...,441,$94.99,$20
2,"Samsung 55"" 4K UHD HDR LED Tizen Smart TV (UN5...",40,$599.99,15.50
3,"Samsung 43"" 4K UHD HDR LED Tizen Smart TV (UN4...",1015,$399.99,12.20
4,"Samsung The Frame 65"" 4K UHD HDR QLED Tizen Sm...",418,$2299.99,$400
...,...,...,...,...
816,"Open Box - Samsung The Frame 65"" 4K UHD HDR QL...",1,$1699.99,$225
817,"Open Box - Samsung 50"" 4K UHD HDR QLED Tizen O...",0,$873.97,$140
818,Refurbished (Excellent) - LG 43NANO75UPA NanoC...,0,$499.99,$27
819,Naxa NT-90 9 in. Portable TV Digital Multimedi...,0,$98,$138
820,Samsung Hospitality HG55NT670UF LED-LCD TV HG5...,0,$809.67,0

In [5]:
# Rename columns to make them more understandable
new_dfWebscraping = new_dfWebscraping.rename(columns={"":"Index",
                                               "description": "Description",
                                               "reviews": "Reviews",
                                               "Price": "Price",
                                               "Discount": "Discount",
                                               "Brand": "Brand",
                                                "TV Type" :"TV_Type",
                                                  "TV Size": "TV_Size",
                                               "TV Pixels" :"TV_Pixels",                                           
                                   })

In [6]:
# Extracting Brand
# new_dfWebscraping['Brand'] = new_dfWebscraping['description'].str.extract(r'([A-Za-z]+)\s?\d+"')
# new_dfWebscraping['Brand'] = new_dfWebscraping['description'].str.extract(r'(Amazon Echo)')
tv_brand= ['Amazon Echo', 'Samsung', 'LG', 'Naxa', 'Sony','Hisense', 'Amazon fire TV','Toshiba','TCL 75', 'Insignia','SAMSUNG' ,'VIZIO', 'ONN.70', 'TCL 6Series 65', 'Philips 75', 'RCA 32','ONN 65Ã¢â‚¬', 'JVC 58']
# pattern = '|'.join(brand_names)
# new_dfWebscraping['Brand'] = new_dfWebscraping['description'].str.extract(f'({pattern})')
# Function to extract TV brand from description
def extract_tv_brand(description):
    for brand in tv_brand:
        if re.search(brand, description, re.IGNORECASE):
            return brand
    return None
new_dfWebscraping['Brand'] = new_dfWebscraping['Description'].apply(extract_tv_brand)

# Get TV Type
new_dfWebscraping['TV_Type'] = new_dfWebscraping['Description'].str.extract(r'(LCD|LED|OLED|QNED)')

# Extract TV size using regular expression
new_dfWebscraping['TV_Size'] = new_dfWebscraping['Description'].str.extract(r'(\d+)"')

#TV Pixels
new_dfWebscraping['TV_Pixels'] = new_dfWebscraping['Description'].str.extract(r'(Ultra HD|4K|1080p|720p)')

# Print the updated DataFrame
new_dfWebscraping

,Description,Reviews,Price,Discount,Brand,TV_Type,TV_Size,TV_Pixels
0,Amazon Echo Show 10 with Alexa - Charcoal,1167,$249.99,$80,Amazon Echo,NaN,NaN,NaN
1,Amazon Echo (4th Gen) Smart Home Hub with Alex...,441,$94.99,$20,Amazon Echo,NaN,NaN,NaN
2,"Samsung 55"" 4K UHD HDR LED Tizen Smart TV (UN5...",40,$599.99,15.50,Samsung,LED,55,4K
3,"Samsung 43"" 4K UHD HDR LED Tizen Smart TV (UN4...",1015,$399.99,12.20,Samsung,LED,43,4K
4,"Samsung The Frame 65"" 4K UHD HDR QLED Tizen Sm...",418,$2299.99,$400,Samsung,LED,65,4K
...,...,...,...,...,...,...,...,...
816,"Open Box - Samsung The Frame 65"" 4K UHD HDR QL...",1,$1699.99,$225,Samsung,LED,65,4K
817,"Open Box - Samsung 50"" 4K UHD HDR QLED Tizen O...",0,$873.97,$140,Samsung,LED,50,4K
818,Refurbished (Excellent) - LG 43NANO75UPA NanoC...,0,$499.99,$27,LG,LED,43,4K
819,Naxa NT-90 9 in. Portable TV Digital Multimedi...,0,$98,$138,Naxa,NaN,NaN,NaN
820,Samsung Hospitality HG55NT670UF LED-LCD TV HG5...,0,$809.67,0,Samsung,LED,NaN,NaN

In [8]:
# # Save the DataFrame to a CSV file

new_dfWebscraping.to_csv('Tv_Bestbuy.csv', na_rep='NA', index_label='Index')

In [10]:
# # Create an Excel writer object
# writer = pd.ExcelWriter('output.xlsx')

# # Save the DataFrame to an Excel file
# new_dfWebscraping.to_excel(writer, sheet_name='TV Data', columns=['Description', 'Reviews', 'Price', 'Discount', 'Brand', 'TV Size', 'TV Type', 'TV Pixels'], na_rep='NA')

# # Close the Excel writer
# writer.close()

In [11]:
# # Save the DataFrame to a CSV file
# new_dfWebscraping.to_csv('output_csv')